:root {
}

.header {
    background-color: rgb(125, 125, 125);
    background-size: 100% 100%;
    background-position-x: center;
    -unity-background-scale-mode: scale-to-fit;
    font-size: 54px;
    -unity-text-align: upper-center;
    color: rgb(192, 192, 192);
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 1px;
    -unity-slice-type: sliced;
    background-image: none;
    rotate: 0;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    -unity-slice-scale: 1px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-repeat: no-repeat no-repeat;
    align-items: stretch;
    align-self: center;
    justify-content: flex-start;
    align-content: auto;
}



.header:hover {
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    scale: 1.1 1.1;
    rotate: 5deg;
    transition-property: all;
    background-size: 40% 40%;
}
