:root {
}

.unity-tab__header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(5, 166, 166);
    border-right-color: rgb(5, 166, 166);
    border-top-color: rgb(5, 166, 166);
    border-bottom-color: rgb(5, 166, 166);
    -unity-background-scale-mode: scale-to-fit;
    color: rgb(75, 58, 39);
    background-color: rgb(37, 253, 255);
    width: auto;
    flex-direction: row;
    font-size: 35px;
    rotate: 0;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-property: rotate;
    transition-duration: 0s;
    -unity-text-align: middle-center;
    white-space: pre-wrap;
    text-overflow: clip;
    -unity-font-style: normal;
    align-self: center;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
    background-image: none;
}

.unity-tab__header:active {
    background-color: rgb(21, 0, 38);
    background-image: none;
    border-top-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-left-width: 7px;
    border-left-color: rgb(0, 103, 130);
    border-right-color: rgb(0, 103, 130);
    border-top-color: rgb(0, 103, 130);
    border-bottom-color: rgb(0, 103, 130);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.unity-tab__header:checked {
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    rotate: 360deg;
    background-color: rgb(171, 0, 0);
    color: rgb(0, 0, 0);
}

.unity-tab__header-underline {
    visibility: hidden;
    display: none;
}
