:root {
}

.unity-tab-view {
    background-size: 100% 100%;
    -unity-background-scale-mode: scale-to-fit;
    font-size: 30px;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: auto;
    align-content: auto;
    -unity-text-align: upper-left;
    white-space: normal;
    text-overflow: clip;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(46, 46, 46);
    -unity-font-style: normal;
    -unity-text-auto-size: none;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    translate: 0 0;
}

.unity-tab {
    width: auto;
    font-size: 39px;
    transform-origin: center;
    align-items: stretch;
    opacity: 1;
}
